<launch>
  <!-- Static tf betweem base and laser -->
    <node pkg="tf"
        type="static_transform_publisher"
        name="base_link_2_base_link"
        args="0 0 0 0 0 0 pioneer/base_link base_link 50" />
<!--    <node pkg="tf"-->
<!--        type="static_transform_publisher"-->
<!--        name="pose_2_odom"-->
<!--        args="0 0 0 0 0 0 pioneer/pose pioneer/odom 50" />-->
    <node pkg="tf"
       type="static_transform_publisher"
       name="base_link_2_base_scan"
       args="0.2 0 0.2 0 0 0 pioneer/base_link hokuyo 50" />

<include file="$(find gmapping)/launch/slam_gmapping_pr2.launch"></include>
<node pkg="rviz" type="rviz" name="rviz"/>
</launch>